@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit');


* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

.navbar {
  border-bottom: 1px solid #D3D3D3; 
}


.nav-link.active::after {
    content: '';
    height: 4px; 
    width: 100%;
    background-color: #000;
    display: block;
    margin-top: -1px;
    margin-right: -4px;
}


.nav-link:not(.active):hover::after {
    content: '';
    height: 4px;
    width: 100%;
    background-color: #000;
    display: block;
}



.dropdown-menu {
    border: none;
    border-radius: 0;
    padding: 0.7em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

.dropdown-menu ul{
    list-style: none;
    padding: 0;
}

.dropdown-menu.show{
    display: flex;
}

.dropdown-menu li a{
    color: gray;
    padding: .5em 1em;
}

.dropdown-menu li:first-child a {
    font-weight: bold;
    font-size: 1.2em;
    color: black
  }

  .dropdown-toggle::after {
    display: none; 
}

.btn.btn-outline-dark:hover {
  transform: translateY(-3px); 
  color: #D3D3D3; 
  background-color: transparent; 
}

.form-control {
  height: auto;
}

.btn.btn-outline-dark {
  text-align: center;
  padding: 0.375rem 0.75rem; 
  margin: auto;
}




main {
  display: flex;
  height: calc(100vh - 70px);
}

.left {
  background-color: #f7f7f6;
  flex: 1;
  height: 100%;
}

.product-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.product-info > h1 {
  font-size: 3.2rem;
  letter-spacing: 3px;
  margin-right: -3px;
  font-weight: 100;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.product-info > p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.product-info > h2 {
  font-size: 1.56rem;
  margin-bottom: 20px;
}

.btn {
  color: #f7f7f6;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
  padding: 20px;
  text-transform: uppercase;
  transition: box-shadow .5s ease-in-out, transform .5s ease-in-out;
}

.btn:hover {
  box-shadow: 3px 10px 20px rgba(0,0,0,.3);
  transform: translateY(-5px);
}

.conheca:hover{
  color: white;
}

.vermais:hover {
  color: white; 
}


.info-btns {
  display: flex;
}

.discover-btn {
  background-color: #a4a4a4;
}

.cart-btn {
  background-color: #141110;
}

.right {
  background-color: #f9e2ba;
  flex: 1;
  height: 100%;
  position: relative;
}

.right > img {
  position: absolute;
  left: -150px;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

ul {
  margin: 0px;
  padding: 0px;
}





.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
text-transform: none !important; 
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid white;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: white;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: white;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}




a.btn {
  background: black;
  border-radius: 4px;
	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: white;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: lighten(blue,2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: darken(blue,2.5);
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}

div.card {
  background: white;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;

  img {
    max-width: 300px;
  }
  
  .card__image-holder {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 75%;
  }

  div.card-title {
    background: white;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
    
    a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;
      
      span {
        background: white;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }
      
      span.left {
        right: 14px;
        transform: rotate(45deg);
      }
      span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    }
    
    h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;
      
      small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    }
  }

  div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
  }

  div.card-actions {
  	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 20px;
    text-align: center;
  }
  
  div.card-flap {
    background: darken(white,15);
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
  }
  div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
  }
  div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
  }
  
}

div.cards.showing {
  div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }
}

.no-touch  div.cards.showing {
  div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
  }
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;

  div.card-title {
    a.toggle-info {
      background: salmon !important;
      span {
        top: 15px;
      }
      span.left {
        right: 10px;
      }
      span.right {
        left: 10px;
      }
    }
  }
  div.card-flap {
    background: white;
    transform: rotateX(0deg);
  }
  div.flap1 {
    transition: all 0.3s 0s ease-out;
  }
  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
  }
}











@media (max-width: 991.98px) {
  .buy {
    font-size: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
  }
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .nav-item {
    flex: 1;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .product-info > h1 {
    font-size: 2.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-info > p {
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-info > h2 {
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
  font-size: 0.7rem; 
  padding: 8px 12px;
}
.right > img {
  left: -80px;
}
}
  
@media screen and (max-width: 900px) {
  .right > img {
    position: relative;
    left: +0px;
  }
}


@media only screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
      display: flex;
    }
    .dropdown-menu.show {
      display: flex;
    }
  }


@media only screen and (max-width: 992px) {
    .dropdown:hover .dropdown-menu {
      max-height: 350px;
      overflow-y: scroll;
    }

    .nav-link::after {
        display: none !important; 
    }
    
    .nav-link:hover::after {
        display: none !important; 
    }
    
    .nav-link:hover {
        color: black !important; 
        background-color: 	#C0C0C0; 
        transition: all 0.3s; 
    }
  
  }